server:
  port: 8070
spring:
  application:
    name: configserver
  # 数据源配置
  datasource:
    username: root
    password: root
    url: jdbc:mysql://localhost:3306/springcloud?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=GMT%2B8&allowMultiQueries=true
    #mysql5.X版本驱动包指定新的驱动类,如果是mysql8.X版本，就指定为com.mysql.cj.jdbc.Driver
    driver-class-name: com.mysql.jdbc.Driver
    #   数据源其他配置, 在 DruidConfig配置类中手动绑定
    initialSize: 8
    minIdle: 5
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
  cloud:
    config:
      server:
        git:
          uri: https://gitee.com/sye520zy/practise.git
          searchPaths: config
          username: sye520zy
          password: sye520131
      label: master
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address:  true
